{% extends 'layout/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>{% block title %} Login {% endblock %}</h1>
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/users/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           value="{{ request.form['email'] }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           value="{{ request.form['password'] }}">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark btn-sm">Login</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
