{% extends 'layout/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>{% block title %} Register {% endblock %}</h1>
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/users/register" method="POST">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ request.form['name'] }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email"
                           value="{{ request.form['email'] }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           value="{{ request.form['password'] }}">
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                           value="{{ request.form['password_confirmation'] }}">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark btn-sm">Register</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
